# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Poetry
.venv/
poetry.lock

# Jupyter
.ipynb_checkpoints/
*.ipynb~

# ML Artefacts
results/models/*.pt
results/models/*.bin
results/optuna.db
*.pkl

# Données
data/
*.parquet

# Environnement
.env
.env.*

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Coverage
.coverage
htmlcov/
.pytest_cache/
